events { worker_connections 1024; }

http {
    # Define upstream groups for modularity
    upstream service_alpha { server app1:4000; }
    upstream service_beta  { server app2:8000; }
    upstream service_gamma { server app3:8001; }

    # Redirect Port 80 to 443
    server {
        listen 80;
        server_name localhost;
        return 301 https://$host$request_uri;
    }

    # HTTPS Server
    server {
        listen 443 ssl;
        server_name localhost;

        # SSL Certificates (Mounted via Docker)
        ssl_certificate     /etc/nginx/certs/server.crt;
        ssl_certificate_key /etc/nginx/certs/server.key;

        # Routing Logic
        location /service1/ {
            proxy_pass http_service_alpha/;
            include proxy_params;
        }

        location /service2/ {
            proxy_pass http://service_beta/;
        }

        location /service3/ {
            proxy_pass http://service_gamma/;
        }
    }
}
